<!doctype html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/password.css">

    <title>Super Nigerians</title>
</head>

<body>
    <%- include('../templates/sidebar') %>

    <main id="main" style="padding-top: 0;">
        <div class="row" style="margin: 0;">
            <div class="col-md-7 d-none d-md-flex forgotPasswordImg"></div>
            <div class="col-md-5 p-4 d-flex flex-column justify-content-center align-items-center">
                <h3 class="my-4 text-center prj green-text">Forget Password</h3>
                <% if (errorMessage) { %>
                <div role="alert" class="alert alert-danger user-message user-message--error"><%= errorMessage %></div>
                <% }if (success && success.length > 0) { %>
                <div role="alert" class="alert alert-success user-message"><%= success %></div>
                <% } %>

                <form class="p-5" action="/recover/password" method="POST">
                    <div class="form-group">
                        <label for="Emai1">Email address</label>
                        <input type="email" name="email" value="<%= oldInput.email %>" class="form-control py-4"
                            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="johndoe@example.com"
                            required>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-lg my-3">Submit</button>
                    </div>
                    <p class="text-center">Don't have an account? <a href="/register">Sign Up</a></p>
                </form>
            </div>
        </div>
    </main>

</body>

</html>