<!doctype html>
<html lang="en">

<head>
    <%- include('../templates/head') %>
    <link rel="stylesheet" href="/css/signup-signin.css">
    <title>Sign Up | Super Nigerians</title>
    <style>
        form .invalid {
            border: 2px solid palevioletred !important;
        }
    </style>
</head>

<body>
    <%- include('../templates/sidebar') %>

    <main id="main" style="padding-top: 0;">
        <section>
            <div class="container-fluid" style="margin-right: 0; margin-left: 0;">
                <div class="row d-flex">
                    <div class="col-md-7 d-none d-md-flex align-self-stretch signin-img">
                    </div>
                    <div class="col-md-5 d-flex align-items-center justify-content-center">
                        <div class="text">
                            <h3 class="my-4 text-center prj-green-text"><span>Sign In</span></h3>
                            <% if (errorMessage) { %>
                            <div role="alert" class="alert alert-danger user-message user-message--error">
                                <button type="button" class="close" data-dismiss="alert">
                                    &times;
                                </button> <%= errorMessage %>
                            </div>
                            <% }if (success && success.length > 0) { %>
                            <div role="alert" class="alert alert-success user-message"> <button type="button"
                                    class="close" data-dismiss="alert">
                                    &times;
                                </button> <%= success %>
                            </div>
                            <% } %>
                            <form name="signUpForm" action="/login" method="POST" class="bg-light p-5 contact-form">
                                <div class="row">
                                    <div class="form-group col">
                                        <label for="email" class="prj-normal-text">Email address</label>
                                        <input type="email" name="email" value="<%= oldInput.email %>"
                                            class="form-control prj-form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                                            id="email" placeholder="johndoe@example.com" autocomplete="email"
                                            required />
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="row">
                                    <div class="form-group col">
                                        <label for="password" class="prj-normal-text">Password</label>
                                        <input type="password" name="password"
                                            class="form-control prj-form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                                            id="password" placeholder="Password" autocomplete="new-password"
                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,}" minlength="8"
                                            required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="d-flex ">
                                            <a href="/recover/password" class="prj-link prj-green-text">Forgot
                                                Password?</a>
                                        </div>
                                        <div class="row">
                                            <div class="col mt-3 mb-0">
                                                <div class="d-flex justify-content-center">
                                                    <button type="submit" class="btn btn-lg prj-btn-primary br-5">
                                                        Sign In
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="prj-normal-text text-center p-0 mt-3">
                                            Don't have an account?
                                            <a href="/register" class="text-center prj-link">Sign Up</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>