<a href="#" class="sidebar-toggle" onclick="toggleMenu()"><i></i></a>
<aside id="aside" role="complementary" class="">
    <nav class="aside-nav mb-3" role="navigation">

            <% if(currentUser) { %>
                <h4>Welcome, <%= currentUser.firstname %> <%= currentUser.lastname %></h4>  
            <% } %> 
        <ul>
            <li class="<%= path === 'home' ? 'nav-active' : '' %>" ><a href="/">Home</a></li>
            <li class="<%= path === 'post' ? 'nav-active' : '' %>" ><a href="/posts">Posts</a></li>

            <% if(currentUser) { %>
                <li class="<%= path === 'profile' ? 'nav-active' : '' %>"><a href="/profile">Profile</a></li>
                <li><a href="/logout">Sign out</a></li>
            <% } %> 
            <% if(!currentUser) { %>
                <li class="<%= path === 'signin' ? 'nav-active' : '' %>" ><a href="/login">Sign In</a></li>
                <li class="<%= path === 'signup' ? 'nav-active' : '' %>" ><a href="/register">Sign Up</a></li>
            <% } %> 
           

        </ul>
    </nav>

    <div class="search mb-3">
        <h3>Search by Author</h3>
        <form action="#">
            <div class="form-group d-flex">
                <div class="icon"><span class="icon-paper-plane"></span></div>
                <input type="text" class="form-control" placeholder="eg. Tobi Osimosu">
            </div>
        </form>
    </div>

    <div class="aside-footer">
        <h1 class="logo mb-5">
            <a href="#" style="background-image: url(/images/Nigeria-flag.jpg);">Super <span>Nigerians</span></a>
        </h1>
        <div class="mb-4">
            <h3>Subscribe for newsletter</h3>
            <form action="#" class="colorlib-subscribe-form">
                <div class="form-group d-flex">
                    <div class="icon"><span class="icon-paper-plane"></span></div>
                    <input type="text" class="form-control" placeholder="Enter Email Address">
                </div>
            </form>
        </div>
        <p class="footer-text">
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script> All rights reserved HNG Group 5</a>
        </p>
    </div>
</aside>
