<!DOCTYPE html>
<html>

<head>
	<%- include('../templates/head') %>
	<link rel="stylesheet" type="text/css" href="css/post.css" />
	<title>Post</title>
</head>

<body>

	<%- include('../templates/sidebar') %>

	<main id="main">
		<section class="px-2 px-md-0">
			<% if( post &&  post.length > 0){ %>
			<div class="container mt-2 mt-md-3">
				<div class="">
					<img src="<%- post[0].postPicture %>"  alt="single post picture" style='align-items: center;' class="img-fluid" id="singlePostPix">
				</div>
				<div class="row" style="margin: 0;">
					<div class="text-left  px-3 px-md-0">
						<h4 class="font-weight-old py-3 py-md-4 text-center"><%- post[0].title %></h4>
						<p class="text-secondary">
							<%- post[0].body %>
						</p>
					</div>
					<div class="col-12 mt-4 mb-4 py-0 py-md-4">
						<div class="d-flex">
							<div class="pr-3 pr-md-5">
								<img src=<%- post[0].creator.photo %> class="rounded-circle" alt="Image" height="80px">
							</div>
							<div class="text-dark pt-2 text-left">
								<span class="text-secondary">Written by</span>
								<h6 class="text-black pt-2"><a href="#"><%- post[0].creator.firstname + " " + post[0].creator.lastname %>
									</a><span><%- post[0].date.toGMTString() %></span>
								</h6>
							</div>
						</div>
					</div>
					<form name="ratings">
						<input class="btn btn-dark like-button my-3 mr-3" type="button" name="btnLike" value="Like">
						<input class="btn btn-dark dislike-button my-3 mx-3" type="button" name="btnDislike" value="Dislike">
					</form>
					<!-- comment session -->

					<div class="row " style="width: 100%;">
						<div class="col-md-12">
							<h5>Comments</h5>
						<% post[0].comments.forEach((comment) => { %>
							<hr>
							<span class="float-right"><%=  moment(comment.createdAt).startOf('minutes').fromNow() %></span>
							<div>
					
								<div class="">
									<p class="align-left"><%= comment.comment %></>
									<h6><%= comment.name %></h6>
									
								</div>
							</div>
						<% }) %>
							
						</div>
						
					<div class="col-12 p-4 p-md-5 bg-light">
						<h6 class="pb-2 pb-md-4">Add your comment</h6>
						<form action="/post/<%- post[0]._id %>/comment" method="POST" class="text-left px-0 px-md-3">
							<input type="hidden" name="_csrf" value="<%= csrfToken %>">
							<div>
								<textarea class="form-control col-12" name="body" placeholder="Your comment here"></textarea>
							</div>
							<button type="submit" class="btn btn-dark px-4 px-md-5 mt-3 mt-md-4">
								Submit
							</button>
						</form>
					</div>
				</div>
			</div>
			<% } %>
		</section>
	</main>

</body>

</html>